.header {
    display: grid;
    grid-area: header;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    background-color: cadetblue;
    align-content: center;
    justify-content: space-between;
}

.header img {
    width: 90px;
    border-radius: 10px;
    margin-left: 15px;
}

.loginBlock {
    margin-right: 15px;
}


.loginBlock a {
    color: white;
    font-size: large;
}